In [7]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [8]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')

In [9]:
class TabelParser:

    def parse_url(self,url):
        response = requests.get(url)
        soup = BeautifulSoup(response.text,'lxml')
        return [(self.parse_table(table))\
                    for table in soup.find_all('table', class_="wikitable sortable")]
    def parse_table(self,table):
        n_rows = 0 
        n_columns = 0
        column_name = []
        
        for row in table.find_all('tr'):
            td_tags = row.find_all('td')
            
            if len(td_tags) > 0:
                n_rows += 1
                
                if n_columns == 0:
                    n_columns = len(td_tags)
                    
            th_tags = row.find_all('th')
            if len(th_tags) > 0 and len(column_name) == 0:
                for th in th_tags:
                    column_name.append(th.get_text())
        
        if len(column_name) > 0 and len(column_name) != n_columns:
            raise Exception("Headers do not match the number of columns")
            
        columns = column_name if len(column_name) > 0 else range(0,n_columns)
        df = pd.DataFrame(columns=columns,index = range(0,n_rows))
        
        row_index = 0
        for row in table.find_all('tr'):
            column_index = 0
            columns = row.find_all('td')
            for column in columns:
                df.iat[row_index,column_index] = column.get_text()
                column_index += 1
            if len(columns) > 0:
                row_index += 1
                
        for col in df:
            try:
                df[col] = df[col].astype(float)
            except ValueError:
                pass
            
        return df

In [10]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tp = TabelParser()
df = tp.parse_url(url)[0]
df.head(10)

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n
7      M6A        North York    Lawrence Manor\n
8      M7A      Queen's Park      Not assigned\n
9      M8A      Not assigned      Not assigned\n

In [11]:
a = df.copy()

In [12]:

a = a[a.Borough != 'Not assigned']

In [13]:

a.head()

  Postcode           Borough     Neighbourhood\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n

In [14]:
a = a.reset_index().drop(['index'],axis=1)
a = a.replace('\n','',regex=True)

In [15]:

a.head()

  Postcode           Borough   Neighbourhood\n
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [16]:
a.rename(columns={'Neighbourhood\n':'Neighbourhood'},inplace=True)

In [17]:
a.Neighbourhood[a.Neighbourhood=='Not assigned '] = a.Borough

In [18]:
a.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [19]:
df_full = a.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ", ".join(x.astype(str))).reset_index()
df_full = df_full.sample(frac=1).reset_index(drop=True)
df_full.head(10)

  Postcode          Borough                                      Neighbourhood
0      M3N       North York                                Downsview Northwest
1      M7A     Queen's Park                                       Not assigned
2      M9B        Etobicoke  Cloverdale, Islington, Martin Grove, Princess ...
3      M1B      Scarborough                                     Rouge, Malvern
4      M1G      Scarborough                                             Woburn
5      M9C        Etobicoke  Bloordale Gardens, Eringate, Markland Wood, Ol...
6      M2K       North York                                    Bayview Village
7      M3K       North York                        CFB Toronto, Downsview East
8      M5N  Central Toronto                                           Roselawn
9      M6M             York     Del Ray, Keelesdale, Mount Dennis, Silverthorn

In [20]:

df_full.shape

(103, 3)

In [21]:
url = 'http://cocl.us/Geospatial_data'
latlong = pd.read_csv(url)

In [22]:

latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
latlong.rename(columns={'Postal Code':'Postcode'},inplace=True)

In [24]:
latlong.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [25]:
df_full = df_full.merge(latlong,on='Postcode')

In [26]:

df_full

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3N,North York,Downsview Northwest,43.761631,-79.520999
1,M7A,Queen's Park,Not assigned,43.662301,-79.389494
2,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
3,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
4,M1G,Scarborough,Woburn,43.770992,-79.216917
5,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201
6,M2K,North York,Bayview Village,43.786947,-79.385975
7,M3K,North York,"CFB Toronto, Downsview East",43.737473,-79.464763
8,M5N,Central Toronto,Roselawn,43.711695,-79.416936
9,M6M,York,"Del Ray, Keelesdale, Mount Dennis, Silverthorn",43.691116,-79.476013
10,M2M,North York,"Newtonbrook, Willowdale",43.789053,-79.408493
11,M4G,East York,Leaside,43.709060,-79.363452
12,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights",43.754328,-79.442259
13,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558
14,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
15,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
16,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
17,M5S,Downtown Toronto,"Harbord, University of Toronto",43.662696,-79.400049
18,M5P,Central Toronto,"Forest Hill North, Forest Hill West",43.696948,-79.411307
19,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
20,M4H,East York,Thorncliffe Park,43.705369,-79.349372
21,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto",43.605647,-79.501321
22,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.628841,-79.520999
23,M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
24,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
25,M6G,Downtown Toronto,Christie,43.669542,-79.422564
26,M5H,Downtown Toronto,"Adelaide, King, Richmond",43.650571,-79.384568
27,M6L,North York,"Downsview, North Park, Upwood Park",43.713756,-79.490074
28,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
29,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577
...,...,...,...,...,...
73,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
74,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
75,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
76,M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
77,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
78,M2P,North York,York Mills West,43.752758,-79.400049
79,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
80,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
81,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo...",43.628947,-79.394420
82,M3L,North York,Downsview West,43.739015,-79.506944
83,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
84,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
85,M3A,North York,Parkwoods,43.753259,-79.329656
86,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
87,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
88,M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
89,M3C,North York,"Flemingdon Park, Don Mills South",43.725900,-79.340923
90,M8W,Etobicoke,"Alderwood, Long Branch",43.602414,-79.543484
91,M5R,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678
92,M3B,North York,Don Mills North,43.745906,-79.352188
93,M4X,Downtown Toronto,"Cabbagetown, St. James Town",43.667967,-79.367675
94,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
95,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
96,M5L,Downtown Toronto,"Commerce Court, Victoria Hotel",43.648198,-79.379817
97,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
98,M2L,North York,"Silver Hills, York Mills",43.757490,-79.374714
99,M5T,Downtown Toronto,"Chinatown, Grange Park, Kensington Market",43.653206,-79.400049
100,M3J,North York,"Northwood Park, York University",43.767980,-79.487262
101,M6B,North York,Glencairn,43.709577,-79.445073
102,M9N,York,Weston,43.706876,-79.518188